.board {
	width: 420px;
	height: 409px;
	background-color: lightGrey;
	border: 7px solid black;
	border-radius: 7px;
	margin: 0px auto;
}

.boardPiece {
	width: 14px;
	height: 14px;
	float: left;
	background-color: lightGrey;
}

.boardPiece.snake {
	background-color: black;
}

.boardPiece.apple {
	background-color: orange;
	border-radius: 10px;
}

.header {
	padding-top: 0px;
	margin: 0px auto;
	text-align: center;
}

h1 {
	margin: 0px;
	font-size: 40px;
}

h4 {
	margin: 5px;
}

.message {
	height: 40px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 50px;
	text-align: center;
	color: red;
	font-style: bold;
}

.score {
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
	font-style: bold;
}