/* Site Syling */


.bored {
  right: 15px;
  position: absolute;
  top: 15px;
  background-color: white;
  border: 1px black solid;
  height: 35px;
  width: 70px;
}

.bored:hover {
   background-color:#e5e5e5;
    border-color: red;
    color: red;

}

h1 {
  color: red;
}

.bored:active{
    background-color:#fcfcfc;
    border-color: red;
    color: red;
}

.period {
  color: black;
}

/* Snake Styling */

.board {
  width: 420px;
  height: 420px;
  background-color: lightGrey;
  border: 7px solid black;
  border-radius: 7px;
  margin: 0px auto;
}

.boardPiece {
  width: 14px;
  height: 14px;
  float: left;
  background-color: lightGrey;
}

.boardPiece.snake {
  background-color: black;
}

.boardPiece.apple {
  background-color: orange;
  border-radius: 10px;
}

.header {
  padding-top: 0px;
  margin: 0px auto;
  text-align: center;
}

h1 {
  margin: 0px;
  font-size: 40px;
}

h4 {
  margin: 5px;
}

.message {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 50px;
  text-align: center;
  color: red;
}

.score {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

/* Asteroids Styling */

.asteroids-container {
  margin: 0px auto;
  border: 3px red solid;
  height: 400px;
  width: 800px;
}